.auth-page-wrapper {
  background: #f8f9fa;
}

.auth-left-panel {
  background: linear-gradient(135deg, #1e293b 0%, #1616c8 100%);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 3rem;
  position: relative;
  overflow: hidden;
  transition: var(--transition);
}

.btn-outline-dark {
  border: 1px solid #000;
  color: #000;
  background-color: #fff;
  transition: all 0.3s ease;
}

.btn-outline-dark:hover {
  background-color: #000;
  color: #fff;
}

.form-control {
  border-radius: 0.25rem;
  box-shadow: none;
  border-color: #ced4da;
}

.btn-primary {
  background-color: #06044d;
  border-color: #000000;
  border-radius: 0.25rem;
}

.btn-primary:hover {
  background-color: #120754;
  border-color: #000000;
}

@media (max-width: 768px) {
  .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .auth-left-panel {
    background: linear-gradient(135deg, #1e293b 0%, #1616c8 100%);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 3rem;
    position: relative;
    overflow: hidden;
    transition: var(--transition);
  }
}
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  --tb-gutter-x: 0 !important; /* Reset gutter to 0, overriding any previous value */
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 100% !important; /* Ensure full width if no padding is desired */
  max-width: none !important; /* Remove any max-width constraints */
}
